-gallery_images = ["club-sandwich.jpg","combo.jpg","hamburger.jpg","panini.jpg"]
!!!5
%html{class:"no-js", lang:"es"} 
  %head
    %meta{charset:"utf-8"}
    %title La mejor comida de la ciudad
    %meta{name:"description", content:"Come rico y barato en el mejor restaurante de la ciudad"}
    %link{href:"https://fonts.googleapis.com/css?family=Dancing+Script",rel:"stylesheet", type:"text/css"}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/bootstrap.css"}
    %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"}
    %link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %meta{:"data-name" => "image-counter", content:"#{gallery_images.size - 1}"}
    %script{src:"js/vendor/modernizr.min.js"}
  %body
    ="<!--[if lt IE 9]>"
    %p{class:"browserupgrade"}
      Estás usando un navegador
      %strong desactualizado.
      Por favor
      %a{href:"http://browsehappy.com/"}
        actualiza tu navegador para una mejor experiencia.
    ="<![endif]-->"
    .video-container
      %video{autoplay:true, loop:true, width:"1280", height:"720", poster:"/videos/poster/out-camping.jpg"}
        %source{src:"/videos/mp4/out-camping.mp4", typ:"video/mp4"}
        %source{src:"/videos/webm/out-camping.webm", typ:"video/webm"}
    .row.full-height.middle-xs.center-xs.relative.up#home
      .col-xs-12
        .box.white-text
          %image{src:"/imgs/logo.png", width:200}
          %h1.dancing-script.title.no-margin  My Restorant
          %p#is-open
            %i.fa.fa-clock-o
            Abierto ahora
      %nav.fixed.top.rigth.navigation.white-text#navigation
        -menu = ["Inicio", "Menú", "Galería", "Contacto", "Cómo llegar"]
        %ul.list-inline
          -menu.each do |item|
            %li
              %a{}= item
      .absolute.black.large-padding.white-text.rigth--0.left--0#description
        .row.middle-xs.center-xs
          .col-xs-7.col-sm-6.white-text.medium
            Atención, calidad y la mejor comida
          .col-xs.hidden#stiky-navigation
            .box
              %nav.text-right.navigation
                %ul.list-inline.no-margin
                  -menu.each do |item|
                    %li
                      %a{}= item
    .text-center.relative#menu
      .absolute.white#menu-title
        %h2.dancing-script.title Menú
      -menu_photos = [{name: "Club Sandwich", precing: "10.000", image: "club-sandwich"},{name: "Combo Hamburguesa", precing: "50.000", image: "combo"},{name: "Hamburguesa", precing: "20.000", image: "hamburger"},{name: "Hot Cakes", precing: "30.000", image: "hot-cakes"},{name: "Panini", precing: "15.000", image: "panini"},{name: "Papas", precing: "10.000", image: "papas"},{name: "Club Sandwich", precing: "10.000", image: "club-sandwich"},{name: "Hamburguesa", precing: "20.000", image: "hamburger"}]
    
      .row
        -menu_photos.each do |photo|
          .col-md-4.col-lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(/imgs/food/#{photo[:image]}-thumb.jpg)"}
            .screen
              .row.middle-xs.full-height
                .col-xs-12
                  %h3.dancing-script.white-text.subtitle= photo[:name]
                  %p.no-margin.white-text= photo[:precing] + "CLP"
    #gallery
      .inner
        -gallery_images.each do |image|
          .image{style:"background-image:url(/imgs/food/#{image})"}

    %script{src:"https://code.jquery.com/jquery-3.1.0.min.js",    integrity:"sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin:"anonymous"}
    %script{src:"dist/js/index.js"}

